body {
  background-color: #0d1117;
  color: #c9d1d9;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

.vertical-stacklayout {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 10px 0;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.project strong {
  font-size: 1.1em;
  margin-top: 12px;
}

.project p {
  margin-top: 8px;
}

.two-columns {
  display: flex;
  margin: 20px 10px;
  gap: 24px; /* space between columns */
}

.two-columns > div:first-child {
  flex: 1;
}

.two-columns > div:last-child {
  flex: 2;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 24px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  border-radius: 8px;
}

header, footer {
  background-color: #161b22;
  padding: 1em;
  text-align: center;
}

nav a {
  margin: 0 1em;
  color: #58a6ff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 24px;
  margin: 16px 0;
  justify-content: left;
}

.social-icons a {
  color: #58a6ff;
  font-size: 1.5em;
  transition: color 0.2s;
}

.social-icons a:hover {
  color: #1f6feb;
}